<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BMITest.init()[pri:0, instance:modules.BMITest@26be92ad]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:18</td>   <td>6903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BMITest.setUp()[pri:0, instance:modules.BMITest@26be92ad]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:21</td>   <td>10141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BMITest.TC1()[pri:0, instance:modules.BMITest@26be92ad]">TC1</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:21</td>   <td>10151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BMITest.setUp()[pri:0, instance:modules.BMITest@26be92ad]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:24</td>   <td>12452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BMITest.TC2()[pri:0, instance:modules.BMITest@26be92ad]">TC2</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:24</td>   <td>12462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BMITest.setUp()[pri:0, instance:modules.BMITest@26be92ad]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:25</td>   <td>13510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BMITest.calculate_bmi_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:modules.BMITest@26be92ad]">calculate_bmi_test</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:34</td>   <td>22808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BMITest.setUp()[pri:0, instance:modules.BMITest@26be92ad]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:35</td>   <td>24194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BMITest.calculate_bmi_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:modules.BMITest@26be92ad]">calculate_bmi_test</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:44</td>   <td>32711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BMITest.setUp()[pri:0, instance:modules.BMITest@26be92ad]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:45</td>   <td>34228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BMITest.calculate_bmi_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:modules.BMITest@26be92ad]">calculate_bmi_test</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>17/03/11 10:30:54</td>   <td>42805</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BMITest.tearDown()[pri:0, instance:modules.BMITest@26be92ad]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
</table>
