<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>17/03/14 00:46:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BMITest.calculate_bmi_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:modules.BMITest@d8355a8]">calculate_bmi_test</td> 
  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>17/03/14 00:46:45</td>   <td>-9026</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.init(java.lang.String)[pri:0, instance:modules.BMITest@d8355a8]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>17/03/14 00:46:51</td>   <td>-2611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String)[pri:0, instance:modules.BMITest@d8355a8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>17/03/14 00:47:03</td>   <td>9374</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:modules.BMITest@d8355a8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
</table>
